In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import pickle
import os.path

In [2]:
network = 'resnet'
sigma = 0.02

In [3]:
summary_acc = pd.DataFrame()
# acc
for alpha in [0, 2, 1.9, 1.5, 1.3, 1, 0.9]:

    acc_path = "test_accuracy_{}.txt".format(alpha)
    if os.path.exists(acc_path) == 0:
        print('no exists, alpha={}'.format(alpha))
    else:
#         f = open(acc_path, 'rb')
#         acc = read(acc_path)
#         df = pd.DataFrame(acc)
        acc = np.loadtxt(acc_path).reshape(1,7)
        df = pd.DataFrame(acc)
        col = 'clean' if alpha ==0 else alpha
        tmp = pd.DataFrame(df.mean().round(decimals=4).astype(str) + ' (std=' + df.std().round(decimals=4).astype(str) + ')', columns = [col])
        summary_acc = pd.concat([summary_acc, tmp], axis=1)
# summary_acc.index = ['clean',2,1.9,1.5,1.3,1,0.9]
# summary_acc = summary_acc.T

In [4]:
summary_acc.index = ['clean',2,1.9,1.5,1.3,1,0.9]
summary_acc = summary_acc.T
summary_acc

,clean,2,1.9,1.5,1.3,1,0.9
clean,0.7841 (std=nan),0.7686 (std=nan),0.7634 (std=nan),0.7151 (std=nan),0.6554 (std=nan),0.4907 (std=nan),0.4157 (std=nan)
2,0.7928 (std=nan),0.787 (std=nan),0.7847 (std=nan),0.7537 (std=nan),0.7097 (std=nan),0.5596 (std=nan),0.4828 (std=nan)
1.9,0.7829 (std=nan),0.7809 (std=nan),0.7812 (std=nan),0.7683 (std=nan),0.7447 (std=nan),0.6426 (std=nan),0.5734 (std=nan)
1.5,0.7852 (std=nan),0.7849 (std=nan),0.7836 (std=nan),0.7805 (std=nan),0.7754 (std=nan),0.748 (std=nan),0.7246 (std=nan)
1.3,0.7805 (std=nan),0.7789 (std=nan),0.7782 (std=nan),0.775 (std=nan),0.7713 (std=nan),0.7541 (std=nan),0.7383 (std=nan)
1,0.7809 (std=nan),0.7786 (std=nan),0.7795 (std=nan),0.7776 (std=nan),0.7756 (std=nan),0.7704 (std=nan),0.7676 (std=nan)
0.9,0.7524 (std=nan),0.7506 (std=nan),0.7509 (std=nan),0.7496 (std=nan),0.7493 (std=nan),0.7451 (std=nan),0.7425 (std=nan)

In [4]:
times=1
for times in [1,2]:
    acc_path = "C:/Users/Lenovo/Desktop/robustness/multiple_accuracy_{}.txt".format(times)
    if os.path.exists(acc_path) == 0:
        print('no exists, multiple')
    else:
        acc = np.loadtxt(acc_path).reshape(1,7)
        df = pd.DataFrame(acc)
        col = 'multiple{}'.format(times)
        tmp = pd.DataFrame(df.mean().round(decimals=4).astype(str) + ' (std=' + df.std().round(decimals=4).astype(str) + ')', columns = [col])
        print(tmp)
        summary_acc = pd.concat([summary_acc, tmp], axis=1)
print(summary_acc)

          multiple1
0  0.7562 (std=nan)
1  0.7512 (std=nan)
2  0.7504 (std=nan)
3  0.7449 (std=nan)
4  0.7409 (std=nan)
5  0.7259 (std=nan)
6  0.7173 (std=nan)
          multiple2
0  0.7595 (std=nan)
1  0.7537 (std=nan)
2  0.7533 (std=nan)
3  0.7499 (std=nan)
4  0.7479 (std=nan)
5  0.7379 (std=nan)
6  0.7351 (std=nan)
              clean                 2               1.9               1.5  \
0  0.7852 (std=nan)  0.7685 (std=nan)  0.7484 (std=nan)   0.763 (std=nan)
1  0.6439 (std=nan)  0.7657 (std=nan)  0.7495 (std=nan)  0.7599 (std=nan)
2  0.6209 (std=nan)   0.763 (std=nan)  0.7497 (std=nan)  0.7596 (std=nan)
3  0.4926 (std=nan)  0.7277 (std=nan)  0.7306 (std=nan)   0.754 (std=nan)
4   0.414 (std=nan)  0.6791 (std=nan)  0.6946 (std=nan)  0.7489 (std=nan)
5   0.306 (std=nan)  0.5389 (std=nan)  0.5786 (std=nan)   0.731 (std=nan)
6  0.2769 (std=nan)  0.4788 (std=nan)   0.514 (std=nan)  0.7182 (std=nan)

                1.3                 1               0.9         multiple1  \
0  0.7734 (std=nan)  0.7682 (std=nan)   0.754 (std=nan)  0.7562 (std=nan)
1  0.7649 (std=nan)   0.764 (std=nan)  0.7466 (std=nan)  0.7512 (std=nan)
2  0.7642 (std=nan)  0.7624 (std=nan)  0.7461 (std=nan)  0.7504 (std=nan)
3  0.7587 (std=nan)  0.7587 (std=nan)   0.743 (std=nan)  0.7449 (std=nan)
4  0.7546 (std=nan)  0.7539 (std=nan)  0.7398 (std=nan)  0.7409 (std=nan)
5  0.7391 (std=nan)  0.7442 (std=nan)  0.7341 (std=nan)  0.7259 (std=nan)
6  0.7282 (std=nan)  0.7379 (std=nan)  0.7299 (std=nan)  0.7173 (std=nan)

          multiple2
0  0.7595 (std=nan)
1  0.7537 (std=nan)
2  0.7533 (std=nan)
3  0.7499 (std=nan)
4  0.7479 (std=nan)
5  0.7379 (std=nan)
6  0.7351 (std=nan)

In [5]:
summary_acc.index = ['clean',2,1.9,1.5,1.3,1,0.9]
summary_acc = summary_acc.T

In [6]:
summary_acc

,clean,2,1.9,1.5,1.3,1,0.9
clean,0.7852 (std=nan),0.6439 (std=nan),0.6209 (std=nan),0.4926 (std=nan),0.414 (std=nan),0.306 (std=nan),0.2769 (std=nan)
2,0.7685 (std=nan),0.7657 (std=nan),0.763 (std=nan),0.7277 (std=nan),0.6791 (std=nan),0.5389 (std=nan),0.4788 (std=nan)
1.9,0.7484 (std=nan),0.7495 (std=nan),0.7497 (std=nan),0.7306 (std=nan),0.6946 (std=nan),0.5786 (std=nan),0.514 (std=nan)
1.5,0.763 (std=nan),0.7599 (std=nan),0.7596 (std=nan),0.754 (std=nan),0.7489 (std=nan),0.731 (std=nan),0.7182 (std=nan)
1.3,0.7734 (std=nan),0.7649 (std=nan),0.7642 (std=nan),0.7587 (std=nan),0.7546 (std=nan),0.7391 (std=nan),0.7282 (std=nan)
1,0.7682 (std=nan),0.764 (std=nan),0.7624 (std=nan),0.7587 (std=nan),0.7539 (std=nan),0.7442 (std=nan),0.7379 (std=nan)
0.9,0.754 (std=nan),0.7466 (std=nan),0.7461 (std=nan),0.743 (std=nan),0.7398 (std=nan),0.7341 (std=nan),0.7299 (std=nan)
multiple1,0.7562 (std=nan),0.7512 (std=nan),0.7504 (std=nan),0.7449 (std=nan),0.7409 (std=nan),0.7259 (std=nan),0.7173 (std=nan)
multiple2,0.7595 (std=nan),0.7537 (std=nan),0.7533 (std=nan),0.7499 (std=nan),0.7479 (std=nan),0.7379 (std=nan),0.7351 (std=nan)

In [7]:
summary_acc.to_csv("./acc_{}_sigma{}.csv".format(network, sigma))